<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 학생정보 처리 SQL -->
<mapper namespace="student.dao.StudentMapper">

	<!-- 학생 정보 저장 -->
	<insert id="insert"  parameterType="Student">
		insert into
		student(
		id
		,name
		,kor
		,eng
		,mat
		)VALUES(
			#{id}
			,#{name}
			,#{kor}
			,#{eng}
			,#{mat}
		)
	</insert>

	<!-- 전체 학생 목록 읽기 -->
	<select id="selectAll" resultType="Student">
	select
		id
		, name
		, kor
		, eng 
		, mat 
	    ,trunc((kor+eng+mat)/3,2) as avg      
    FROM
        student
    order by
        id
		
	</select>


	<!-- 학번으로 학생정보 삭제 -->
	<delete id="delete" parameterType="String">
		delete from
			student
		where
			id = #{id}
	</delete>


	<!-- 학생 정보 수정 -->
	<update id="update"  parameterType="Student">
	update student
        set name = #{name}
            ,kor = #{kor}
            ,eng = #{eng}
            ,mat = #{mat}
           where
             id = #{id}
             </update>
	<!-- 이름으로 학생정보 검색 -->
	<select id="selectName"  parameterType="string" resultType="Student">
		select
			id
			,name
			,kor
			,eng
			,mat
			,trunc((kor+eng+mat)/3,2) as avg
		from
			student
		where
			<!--name = #{name}  -->
			upper(name)  like '%'||upper(#{name})||'%'
		order by
			name
	</select>

</mapper>
