<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 게시판 처리 SQL -->
<mapper namespace="board.dao.BoardMapper">

<!-- 글 저장 -->
<insert id="insertBoard" parameterType="Board">
insert into board (
	boardnum
	, name
	, title
	, content
)
values (
	boardseq.nextval
	, #{name}
	, #{title}
	, #{content}
)
</insert>

<!-- 글 목록 -->
<select id="listBoard" resultType="Board">
select * from board order by boardnum desc
</select>

<!-- 글 1개 읽기 -->
<select id="readBoard" parameterType="int" resultType="Board">
select 
	boardnum
	, name
	, title
	, content
	, hits
	, (to_char(indate, 'yyyy/mm/dd')) indate
from 
	board 
where 
	boardnum = #{boardnum}
</select>

<!-- 글의 조회수 1증가 -->
<update id="updateHits" parameterType="int">
update board set hits = hits + 1 where boardnum = #{boardnum}
</update>

<!-- 글 삭제 -->
<update id="deleteBoard" parameterType="int">
delete from board where boardnum = #{boardnum}
</update>

<!-- 글 검색 -->
<select id="searchBoard" parameterType="hashmap" resultType="Board">
select 
	boardnum
	, name
	, title
	
from 
	board 
where
	<if test="c == 1">
		upper(title) like '%' || upper(#{w}) || '%'
	</if>
	<if test="c == 2">
		upper(name) like '%' || upper(#{w}) || '%'
	</if>
	<if test="c == 3">
		upper(content) like '%' || upper(#{w}) || '%'
	</if>
order by
	indate
</select>


</mapper>
